#Match Case

In [ ]:
operacao = input("""
Escolha a operação:

[1] Opção 1
[2] Opção 2
[3] Opção 3\n
""")

match operacao:
    case "1":
        print("Opção 1 foi escolhida..")
    case "2":
        print("Opção 2 foi escolhida..")
    case "3":
        print("Opção 3 foi escolhida..")
    case _: # equivalente ao Else
        print("Opção inválida..")

Escolha a operação:

[1] Opção 1
[2] Opção 2
[3] Opção 3

2
Opção 2 foi escolhida..

In [ ]:
operacao = input("""
Escolha a operação:

[1] Opção 1
[2] Opção 2
[3] Opção 3\n
""")

match operacao:
    case "1" | "2":
        print("Opção 1 ou 2 foi escolhida..")
    case "3":
        print("Opção 3 foi escolhida..")
    case _: # equivalente ao Else
        print("Opção inválida..")

Escolha a operação:

[1] Opção 1
[2] Opção 2
[3] Opção 3

1
Opção 1 ou 2 foi escolhida..

In [ ]:
numero = int(input("Digite um número inteiro: "))

match numero:
    case 1|3|5|7|9:
        print("É ímpar menor que 10.")
    case _ if numero < 0:
        print("É negativo.")
    case _:
        print("Um número qualquer.")

Digite um número inteiro: -2
É negativo.

# Desafios

## 01

Escreva um programa em Python que solicite ao usuário uma nota entre 0 e 10.
Use o comando `match case` para classificar a nota de acordo com a tabela a seguir:

- 0-4: Nota Baixa
- 5-7: Nota Média
- 8-9: Nota Alta
- 10: Nota Excelente

Exiba a classificação correspondente.

In [ ]:
#V1
nota = float(input("Digite a nota: "))

match nota:
    case _ if 0 <= nota <= 4:
        print("\nNota Baixa")
    case _ if 5 <= nota <= 7:
        print("\nNota Média")
    case _ if 8 <= nota <= 9:
        print("\nNota Alta")
    case _ if 9 < nota <= 10:
        print("\nNota Excelente")
    case _ if nota < 0 or nota > 10:
        print("\n\033[1;31mNota inválida!")

Digite a nota: 11

Nota inválida!

In [ ]:
#V2
nota = int(input("Digite a nota: "))

match nota:
    case 0 | 1 | 2 | 4:
        print("\nNota Baixa")
    case 5 | 6 | 7:
        print("\nNota Média")
    case 8 | 9:
        print("\nNota Alta")
    case 10:
        print("\nNota Excelente")
    case _:
        print("\n\033[1;31mNota inválida!")

Digite a nota: 0

Nota Baixa

## 02

Crie um programa que peça ao usuário para inserir um número de 1 a 7,onde cada número representa um dia da semana (1 para domingo, 2 para segunda-feira, e assim por diante).

Use match case para imprimir o nome do dia da semana correspondente.

In [ ]:
dia = input("""
Escolha o dia:

[1] Domingo
[2] Segunda-Feira
[3] Terça-Feira
[4] Quarta-Feira
[5] Quinta-Feira
[6] Sexta-Feira
[7] Sábado\n
""")

match dia:
    case "1":
        print("\nDomingo")
    case "2":
        print("\nSegunda-Feira")
    case "3":
        print("\nTerça-Feira")
    case "4":
        print("\nQuarta-Feira")
    case "5":
        print("\nQuinta-Feira")
    case "6":
        print("\nSexta-Feira")
    case "7":
        print("\nSábado")
    case _:
        print("\n\033[1;31mOpção inválida!")

Escolha o dia:

[1] Domingo
[2] Segunda-Feira
[3] Terça-Feira
[4] Quarta-Feira
[5] Quinta-Feira
[6] Sexta-Feira
[7] Sábado

2

Segunda-Feira

## 03

Implemente uma calculadora simples que realiza as operações de adição, subtração, multiplicação e divisão.
O usuário deve inserir dois números e, em seguida, selecionar a operação desejada (+, -, *, /).

Use o comando match case para realizar a operação correta e exibir o resultado.

In [ ]:
#V1
n1 = float(input("Digite o 1° número: "))
n2 = float(input("Digite o 2° número: "))
operacao = input("""Escolha a operação:

[1] Soma
[2] Subtração
[3] Multiplição
[4] Divisão
""")

if n2 == 0 and operacao == "4":
    print(f"\n\033[1;31mOperação inválida!\nO denominador não poder ser 0 (Zero).")
else:
    match operacao:
        case "1":
            print(f"\n\033[1mO resultado é {n1+n2}")
        case "2":
            print(f"\n\033[1mO resultado é {n1-n2}")
        case "3":
            print(f"\n\033[1mO resultado é {n1*n2}")
        case "4":
            print(f"\n\033[1mO resultado é {n1/n2}")
        case _:
            print(f"\n\033[1;31mOpção inválida!")

Digite o 1° número: 4
Digite o 2° número: 0
Escolha a operação:

[1] Soma
[2] Subtração
[3] Multiplição
[4] Divisão
4

Operação inválida!
O denominador não poder ser 0 (Zero)

In [ ]:
#V2
n1 = float(input("Digite o 1° número: "))
n2 = float(input("Digite o 2° número: "))
operacao = input("Escolha a operação: (+ - * /) ")

match operacao:
    case "+":
        print(f"\n\033[1mO resultado é {n1+n2}")
    case "-":
        print(f"\n\033[1mO resultado é {n1-n2}")
    case "*":
        print(f"\n\033[1mO resultado é {n1*n2}")
    case "/":
        if n2 == 0:
            print(f"\n\033[1;31mOperação inválida!\nO denominador não poder ser 0 (Zero).")
        else:
            print(f"\n\033[1mO resultado é {n1/n2}")
    case _:
        print(f"\n\033[1;31mOpção inválida!")

Digite o 1° número: 2
Digite o 2° número: 0
Escolha a operação: (+ - * /) /

Operação inválida!
O denominador não poder ser 0 (Zero).

## 04
Escreva um programa que converta valores entre diferentes moedas.
O usuário deve inserir o valor em reais e selecionar a moeda para conversão:
D (Dólar), E (Euro), ou L (Libra). Utilize match case para aplicar a conversão correta com base nas taxas fictícias fornecidas a seguir:

- 1 Real = 0.18 Dólar
- 1 Real = 0.16 Euro
- 1 Real = 0.13 Libra

Símbolos: $ € £

In [ ]:
real = float(input("Digite o valor em Reais (R$): "))
moeda = input("""Escolha a moeda a ser convertida:
D (Dólar)
E (Euro)
L (Libra)
""")

match moeda:
    case "D"|"d":
        print(f"\nR${real:,.2f} equivale a ${real*0.18:,.2f} dólares.")
    case "E"|"e":
        print(f"\nR${real:,.2f} equivale a €{real*0.16:,.2f} euros.")
    case "L"|"l":
        print(f"\nR${real:,.2f} equivale a £{real*0.13:,.2f} libras.")
    case _:
        print(f"\n\033[1;31mOpção inválida!")

Digite o valor em Reais (R$): 10000
Escolha a moeda a ser convertida:
D (Dólar)
E (Euro)
L (Libra)
e

R$10,000.00 equivale a €1,600.00 euros.

## 05
Crie um programa que peça ao usuário para inserir uma letra. O programa deve utilizar match case para verificar se a letra é uma vogal (a, e, i, o, u) ou uma consoante, e então exibir uma mensagem apropriada.

In [ ]:
letra = input("Digite uma letra: ").lower()

if letra.isalpha() == False:
    print(f"\n\033[1;31mCaractere inválido!")
else:
    match letra:
        case "a" | "e" | "i" | "o" | "u":
            print("\n\033[1;33mÉ uma vogal!")
        case _:
            print("\n\033[1;36mÉ uma consoante!")

Digite uma letra: 4

Caractere inválido!