# Tuplas

## Criar Tuplas

In [ ]:
linguagens = ("Assembly", "Java", "Python", "C#")
print(linguagens)

linguagens2 = "Assembly", "Java", "Python", "C#"
print(linguagens2)

print(type(linguagens),type(linguagens2) )

('Assembly', 'Java', 'Python', 'C#')
('Assembly', 'Java', 'Python', 'C#')
<class 'tuple'> <class 'tuple'>

## Seleção de itens na Tuplas

In [ ]:
lanches = ("Hamburguer", "Pastel", "Coxinha", "Pizza")

print(lanches[0])   #Primeiro item
print(lanches[-1])  #Último item
print(lanches[1:3]) #Intervalo de itens
print(lanches[1:])  #A partir do segundo item
print(lanches[:2])  #Até o segundo item
print("")
for i in lanches:
    print(i)

print("")
for i in range(len(lanches)):
    print(lanches[i])

Hamburguer
Pizza
('Pastel', 'Coxinha')
('Pastel', 'Coxinha', 'Pizza')
('Hamburguer', 'Pastel')

Hamburguer
Pastel
Coxinha
Pizza

Hamburguer
Pastel
Coxinha
Pizza

## Enumerate

In [ ]:
lanches = ("Hamburguer", "Pastel", "Coxinha", "Pizza")
for posicao, comida in enumerate(lanches):
    print(f"Vamos comer {comida} na posição {posicao+1}.")

Vamos comer Hamburguer na posição 1.
Vamos comer Pastel na posição 2.
Vamos comer Coxinha na posição 3.
Vamos comer Pizza na posição 4.

## Converter Lista em Tupla

In [ ]:
lista = [1,2,3,4,5]

tupla = tuple(lista)

print(tupla)

(1, 2, 3, 4, 5)

## Sorted

In [ ]:
lanches = ("Hamburguer", "Pastel", "Coxinha", "Pizza")
ordenar = sorted(lanches)
print(ordenar)

['Coxinha', 'Hamburguer', 'Pastel', 'Pizza']

## Del

In [ ]:
lanches = ("Hamburguer", "Pastel", "Coxinha", "Pizza")
del(lanches)

## Concatenar Tuplas

In [ ]:
lanches = ("Hamburguer", "Pastel", "Coxinha", "Pizza")
doces = ("Pudim", "Bolo", "Sorvete")

unificada = lanches + doces
print(unificada)

('Hamburguer', 'Pastel', 'Coxinha', 'Pizza', 'Pudim', 'Bolo', 'Sorvete')

# Desafios

## 01

Crie um programa que tenha uma tupla totalmente preenchida com
uma contagem por extenso, de zero até vinte.

Seu programa deverá ler um número pelo teclado (entre 0 e 20) e
mostra-lo por extenso.

In [ ]:
numerosExtenso = (
    'Zero',
    'Um',
    'Dois',
    'Três',
    'Quatro',
    'Cinco',
    'Seis',
    'Sete',
    'Oito',
    'Nove',
    'Dez',
    'Onze',
    'Doze',
    'Treze',
    'Quatorze',
    'Quinze',
    'Dezesseis',
    'Dezessete',
    'Dezoito',
    'Dezenove',
    'Vinte'
)

num = int(input("Digite um número entre 0 e 20: "))
print(f"\n\033[1m{numerosExtenso[num]}")

Digite um número entre 0 e 20: 5

Cinco

## 02
Crie um programa que gere cinco números aleatórios para uma tupla.
Mostre a listagem de números gerados, indique o menor e o maior valor.

In [ ]:
import random
lista = []
for i in range(5):
    lista.append(random.randint(0,1000))

lista = tuple(lista)
print(f"Lista de números: {lista}")
print(f"Maior {max(lista)}, menor {min(lista)}")

Lista de números: (79, 38, 476, 107, 451)
Maior 476, menor 38

In [ ]:
import random
lista = tuple(random.randint(0,100) for i in range(5))

print(f"Lista de números: {lista}")
print(f"Maior {max(lista)}, menor {min(lista)}")

Lista de números: (34, 20, 11, 79, 53)
Maior 79, menor 11

## 03
Desenvolva um programa que leia quatro números inteiros pelo teclado e guarde-os em uma tupla. No final, mostre:

    A) Quantas vezes apareceu o valor 9.

    B) Em que posição foi digitado o primeiro valor 3.
    
    C) Quais foram os números pares.

In [ ]:
lista = []
for i in range(4):
    num = int(input(f"Digite o {i+1}º número inteiro: "))
    lista.append(num)
print()
tupla = tuple(lista)

print(f"Há {tupla.count(9)} número(s) 9.")
if 3 in tupla:
    print(f"O primeiro número 3 está na {tupla.index(3)+1}º posição.")
for j in tupla:
    if j % 2 == 0:
        print(j, end=" ")

Digite o 1º número inteiro: 4
Digite o 2º número inteiro: 5
Digite o 3º número inteiro: 9
Digite o 4º número inteiro: 3

Há 1 número(s) 9.
O primeiro número 3 está na 4º posição.
4

## 04
Crie um programa que tenha uma tupla única com 4 produtos e seus respectivos preços em sequência.
Mostre uma listagem com os nomes e preços, organizando os dados em forma tabular.

In [ ]:
#V1
produtos = ("Hamburguer", 15, "Pastel", 10, "Coxinha", 5, "Pizza", 8)

for i in range(8):
    if i % 2 == 0:
        print(f"- {produtos[i]}", end=" ")
    else:
        print(f"R${produtos[i]}".rjust(10))

- Hamburguer       R$15
- Pastel       R$10
- Coxinha        R$5
- Pizza        R$8

In [ ]:
#V2
produtos = ("Hamburguer", 15, "Pastel", 10, "Coxinha", 5, "Pizza", 8)

for i in range(7):
    if i % 2 == 0:
        print(f"- {produtos[i]:<12} R$ {produtos[i+1]:.2f}".rjust(10))

- Hamburguer   R$ 15.00
- Pastel       R$ 10.00
- Coxinha      R$ 5.00
- Pizza        R$ 8.00

In [ ]:
#V3
produtos = ('Camiseta', 50, 'Calça', 79, 'Bermuda', 40, 'Blusa', 100)
for x, item in enumerate(produtos):
    if x%2 == 0:
        print(f"{item:<12}", end='')
    else:
        print(f"R$ {item:,.2f}".rjust(10))

## 05
Crie um programa que tenha uma tupla com 5 palavras (não usar acentos).
Mostre para cada palavra quais são as suas vogais.

In [ ]:
palavras = ("Hamburguer", "Pastel", "Coxinha", "Pizza", "Pudim", "Bolo", "Sorvete")
print("Vogais:")
for i in palavras:
    i = i.lower()
    print(" ")
    for j in i:
        if  j == "a" or j == "e" or j == "i" or j == "o" or j == "u":
            print(j, end=" ")

Vogais:

a u u e
a e
o i a
i a
u i
o o
o e e

## 06

Crie uma tupla preenchida com os 20 primeiros colocados da Tabela do Campeonato Brasileiro Serie B de Futebol, na ordem de colocação.
Depois mostre:

	A) Apenas os 5 primeiros colocados.

	B) Os últimos 4 colocados da tabela.

    C) Em qual posição na tabela está o time do Santos.

	D) Uma lista com os times em ordem alfabética.

In [ ]:
import random
times = ('Novorizontino', 'Santos', 'Mirassol', 'Vila Nova', 'Ceará', 'Sport', 'América-MG', 'Avaí', 'Amazonas', 'Coritiba',
         'Goiás', 'Operário-PR', 'Botafogo', 'Ponte Preta', 'Paysandu', 'Ituano', 'CRB', 'Chapecoense', 'Brusque', 'Guarani')
timesLista = list(times)
random.shuffle(timesLista)
print("\nPrimeiros colocados",timesLista[:5])
print("\nZona de Rebaixamento",timesLista[-4:])
print("\nPosição do Santos:",timesLista.index("Santos")+1,"º\n")

timesLista.sort()
for i in timesLista:
    print(i)

Primeiros colocados ['Guarani', 'Santos', 'Amazonas', 'Operário-PR', 'Botafogo']

Zona de Rebaixamento ['Paysandu', 'Vila Nova', 'Goiás', 'Ituano']

Posição do Santos: 2 º

Amazonas
América-MG
Avaí
Botafogo
Brusque
CRB
Ceará
Chapecoense
Coritiba
Goiás
Guarani
Ituano
Mirassol
Novorizontino
Operário-PR
Paysandu
Ponte Preta
Santos
Sport
Vila Nova